#siteContent{
    margin-bottom: 2.857em;
    overflow: hidden;
    .breadcrumb{
        background-color: transparent;
        padding: 1.786em 0 1.6em;
        overflow: visible;
        margin: 0;
        white-space: nowrap;
        @include mq('tablet','max'){
            padding: 10px 15px;
            background: #f7f6f6;
            margin:0 -15px 1.6em;

        }
       span, a{
        color: $textColor;
        font-size: 14px;
        font-weight: 500;
        transition: all 0.3s;
       }
       a:hover{
        color: $primaryColor;
       }
       .delimiter{
        margin: 0 1.429em;
       }
    }
    .siteContentInner{
        position: relative;
        
        .or-text{
            position: absolute;
            display: inline;
            @include circle(50px);
            right: 50%;
            top: 50%;
            transform: translate(50%);
            line-height: 50px;
            text-align: center;
            border: 1px solid $grayColor;
            font-style: italic;
            background-color: $white;
            z-index: 1;

            @include mq('tablet-wide','max'){
                display: none;
            }
        }
        #customerFormInner{
            padding: 2.25em 1.05em;
            position: relative;
            &::before{
                border-right: 1px solid $grayColor;
                height: 100%;
                position: absolute;
                content: ' ';
                right: 50%;
                top: 0;

                @include mq('tablet-wide','max'){
                    display: none;
                }
            }
            .cf-col-1{
                padding-right: 6.071em;
                @include mq('tablet-wide','max'){
                    padding-right: 0;
                }
            }
            .cf-col-2{
                padding-left: 5.857em;
                @include mq('tablet-wide','max'){
                    padding-left: 0;
                    margin-top: 20px;
                }
            }
            .customerForm{
                h2{
                    font-size: 1.786em;
                    line-height: 1.6em;
                    display: block;
                    position: relative;
                    padding-bottom: .4em;
                    border-bottom: 1px solid #ddd;
                    margin-bottom: 1.36em;
                    font-weight: 300;
                    &::after{
                        @include pseudo('block');
                        border-bottom: 2px solid $primaryColor;
                        width: 20%;
                        bottom: -1px;
                        left: 0;
                    }
                }
                p{
                    @include fontPack(14);
                    color: $textColor;
                    margin-bottom: 2.143em;
                    a{
                        color: $textColor;
                        transition: all 0.3s;
                        &:hover{
                            color: $primaryColor;
                        }
                    }

                }
                form{
                    margin-bottom: 0;
                    
                    label{
                        font-size: 1em;
                        line-height: 1.286em;
                        font-weight: 700;
                        margin-bottom: .857em;
                        color: $textColor;
                        .required{
                            display: inline-block;
                            color: red;
                            margin-left: 2px;
                            font-weight: 500;
                        }
                    }
                    input.form-control{
                        display: block;
                        width: 100%;
                        padding: .594rem 1rem;
                        font-size: .875rem;
                        font-weight: 400;
                        line-height: 1.714;
                        color: $textColor;
                        background-color: $white;
                        background-clip: padding-box;
                        border: 1px solid $grayColor;
                        appearance: none;
                        border-radius: 1.375rem;
                        box-shadow: 0;
                        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                        &:focus{
                            border-color: $blue;
                            box-shadow: none;
                        }
                    }
                    button{
                        font-weight: 400;
                        line-height: 1.714;
                        text-align: center;
                        vertical-align: middle;
                        cursor: pointer;
                        user-select: none;
                        border: 1px solid transparent;
                        font-size: .875rem;
                        border-radius: 1.375rem;
                        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                        background-color: $gray2;
                        border-color: $gray2;
                        color: $textColor;
                        display: block;
                        padding: .594rem 2rem;
                        font-weight: 700;
                        &:hover{
                            background: $black;
                            color: $white;
                        }
                    }
                    .lostPassword{
                        margin-top: 10px;
                    }
                }
                .register-benefits{
                    margin-top: 20px;
                    h3{
                        font-size: 1.286em;
                        line-height: 1em;
                        margin-bottom: 1.444em;
                        color: $textColor;
                        font-weight: 500;
                        opacity: .9;
                    }
                    ul {
                        li{
                            line-height: 2.143em;
                            // position: relative;
                            &::before{
                                font: var(--fa-font-solid);
                                content: "\f00c";
                                color: #198754;
                                -webkit-font-smoothing: antialiased;
                                -moz-osx-font-smoothing: grayscale;
                                display: inline-block;
                                vertical-align: -.125em;
                                margin-right: 1em;
                            }
                        }
                    }
                    .vendorLink{
                        margin-top: 5px;
                        a{
                            font-size: 14px;
                            color:$textColor;
                            transition: color 0.3s;
                            font-weight: 500;
                            &:hover{
                                color: $primaryColor;
                            }
                        }
                    }
                }
                
            }
        }
    }
}